<div class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--Sidebar-->
                <div class="left-sidebar">
                    <div class="single-widget">
                        <h3>Buscar aquí</h3>
                        <form>
                            <input type="text" class="form-control" placeholder="Buscar">
                            <button type="submit" class="src-btn">
                                <i class="ri-search-line move-icon"></i>
                            </button>
                        </form>
                    </div>
                    <div class="single-widget">
                        <h3>Precio</h3>
                        <select class="form-select">
                            <option value="1" selected>Hasta $200.000</option>
                            <option value="2">$200.000 - $400.000</option>
                            <option value="3">$400.000 - $600.000</option>
                            <option value="4">$600.000 - $800.000</option>
                            <option value="5">$800.000 - $1.000.000</option>
                            <option value="6">Más de $1.000.000</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <!--Stay List-->
                <div class="stays-listing">
                    <ul class="d-flex justify-content-between sorting">
                        <li>
                            <span>30 alojamientos</span>
                        </li>
                        <li>
                            <select class="form-select">
                                <option value="1" selected>Ordenado por defecto</option>
                                <option value="2">Mayor a menor precio</option>
                                <option value="3">Menor a mayor precio</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="stays-list">
                        <li class="single-stay-box">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-xl-5 col-lg-12 col-sm-12">
                                    <a class="d-block">
                                        <img src="images/stays/stay1.jpg" width="300px" height="300px">
                                    </a>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-sm-7">
                                    <div class="content">
                                        <h3>
                                            <a>
                                                Hotel Pradomar
                                            </a>
                                        </h3>
                                        <p>
                                            Calle 2 # 22 – 61
                                        </p>
                                        <p>
                                            Puerto Colombia, Atlántico
                                        </p>
                                        <div class="rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-half-fill"></i>
                                        </div>
                                        <p>4.5/5 Maravilloso (100 reviews)</p>
                                        <div class="price">$200.000 <span>por noche</span></div>
                                        <a class="default-btn">Reservar</a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-sm-5">
                                    <ul class="info">
                                        <li>
                                            <i class="ri-wifi-line"></i>
                                            Wifi gratis
                                        </li>
                                        <li>
                                            <i class="ri-roadster-line"></i>
                                            Parqueadero gratis
                                        </li>
                                        <li>
                                            <i class="ri-wheelchair-line"></i>
                                            Aire acondicionado
                                        </li>
                                        <li>
                                            <i class="ri-restaurant-2-line"></i>
                                            Restaurante
                                        </li>
                                        <li>
                                            <i class="ri-riding-line"></i>
                                            Gym
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="single-stay-box">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-xl-5 col-lg-12 col-sm-12">
                                    <a class="d-block">
                                        <img src="images/stays/stay2.jpg" width="300px" height="300px">
                                    </a>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-sm-7">
                                    <div class="content">
                                        <h3>
                                            <a>
                                                Hotel Campestre El Cisne
                                            </a>
                                        </h3>
                                        <p>
                                            Antigua vía a solo 500 Mts, Cra. 51B
                                        </p>
                                        <p>
                                            Sabanilla, Atlántico
                                        </p>
                                        <div class="rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-half-fill"></i>
                                        </div>
                                        <p>4.7/5 Maravilloso (150 reviews)</p>
                                        <div class="price">$300.000 <span>por noche</span></div>
                                        <a class="default-btn">Reservar</a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-sm-5">
                                    <ul class="info">
                                        <li>
                                            <i class="ri-wifi-line"></i>
                                            Wifi gratis
                                        </li>
                                        <li>
                                            <i class="ri-roadster-line"></i>
                                            Parqueadero gratis
                                        </li>
                                        <li>
                                            <i class="ri-wheelchair-line"></i>
                                            Aire acondicionado
                                        </li>
                                        <li>
                                            <i class="ri-restaurant-2-line"></i>
                                            Restaurante
                                        </li>
                                        <li>
                                            <i class="ri-riding-line"></i>
                                            Gym
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="single-stay-box">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-xl-5 col-lg-12 col-sm-12">
                                    <a class="d-block">
                                        <img src="images/stays/stay3.jpg" width="300px" height="300px">
                                    </a>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-sm-7">
                                    <div class="content">
                                        <h3>
                                            <a>
                                                Hotel Marina Puerto Velero
                                            </a>
                                        </h3>
                                        <p>
                                            Calle 1 #1-614 Km 88 Vía al Mar
                                        </p>
                                        <p>
                                            Tubará, Atlántico
                                        </p>
                                        <div class="rating">
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-fill"></i>
                                            <i class="ri-star-half-fill"></i>
                                        </div>
                                        <p>4.9/5 Maravilloso (200 reviews)</p>
                                        <div class="price">$400.000 <span>por noche</span></div>
                                        <a class="default-btn">Reservar</a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-sm-5">
                                    <ul class="info">
                                        <li>
                                            <i class="ri-wifi-line"></i>
                                            Wifi gratis
                                        </li>
                                        <li>
                                            <i class="ri-roadster-line"></i>
                                            Parqueadero gratis
                                        </li>
                                        <li>
                                            <i class="ri-wheelchair-line"></i>
                                            Aire acondicionado
                                        </li>
                                        <li>
                                            <i class="ri-restaurant-2-line"></i>
                                            Restaurante
                                        </li>
                                        <li>
                                            <i class="ri-riding-line"></i>
                                            Gym
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
