.top-header-area {
    padding: {
        top: 10px;
        bottom: 10px;
    }
    
    .container-fluid {
        max-width: 100%;
        padding: {
            right: 30px;
            left: 30px;
        };
    }
}

.top-header-left-content {
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;

    li {
        display: inline-block;
        margin-left: 30px;

        a {
            display: block;
            font-size: 15px;
            padding-right: 22px;
            position: relative;
            color: var(--paragraphColor);

            img {
                right: 0;
                top: 2px;
                position: absolute;
            }

            &:hover {
                color: var(--primaryColor);
            }
        }

        &:last-child {
            margin-left: 0;
        }
    }
}

.top-header-right-content {
    padding-right: 0;
    text-align: end;
    margin-bottom: 0;
    list-style-type: none;

    li {
        display: inline-block;
        margin-left: 30px;
        padding-right: 15px;

        a {
            font-size: 15px;
            color: var(--paragraphColor);

            &:hover {
                color: var(--primaryColor);
            }
        }

        &:last-child{
            margin-left: 0;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .top-header-area {
        text-align: center;
    }

    .top-header-left-content {
        li {
            margin: {
                right: 8px;
                left: 8px;
            };

            a {
                font-size: 14px;
                padding-right: 20px;

                img {
                    top: 3px;
                }
            }

            &:first-child {
                margin-right: 0;
            }
        }
    }

    .top-header-right-content {
        text-align: center;
        margin-top: 10px;
        margin-right: 23px;

        li {
            margin: {
                right: 8px;
                left: 8px;
            };

            a {
                font-size: 14px;
            }

            &:first-child {
                margin-right: 0;
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-header-area {
        text-align: start;
    }

    .top-header-right-content {
        text-align: end;
        margin-top: 0;
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* Min width 1400px */
@media only screen and (min-width: 1400px) {
}