/* You can add global styles to this file, and also import other style files */
:root {
    --primaryColor: #924dff;
    --paragraphColor: #696969;
    --whiteColor: #ffffff;
    --blackColor: #2f3045;
    --secondaryColor: #ff5b4a;
    --transition: .5s;
    --fontSize: 16px;
}

.bg-f3f7ff {
    background-color: #f3f7ff;
}

.page-title-area {
	background-color: var(--primaryColor);
    
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };

    &.bg-1 {
        background-image: url(/images/background/img-background.jpg);
    }
}

.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    };
}

.form-control {
    height: 60px;
	border-radius: 5px;
    color: var(--blackColor);
	font-size: var(--fontSize);
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
    box-shadow: unset !important;
    transition: var(--transition);

    padding: {
        right: 20px;
        left: 20px;
    };

	&::placeholder {
		color: #666666;
        transition: var(--transition);
	}

	&:focus {
		border-color: var(--primaryColor);

        &::placeholder {
            color: transparent;
        }
	}
}

.page-title-content {
	text-align: center;

	h2 {
		font-size: 55px;
		margin-bottom: 18px;
		color: var(--whiteColor);
	}

    p {
        color: var(--whiteColor);
        font-size: 18px;
    }

	.banner-form-style {
        background-color: var(--whiteColor);
        border-radius: 50px;
        padding-right: 30px;
        max-width: 1150px;
        margin: {
            top: 30px;
            right: auto;
            left: auto;
        };

        .form-group {
            margin-bottom: 0;
            text-align: end;
            padding-right: 40px;
            padding-left: 10px;
            position: relative;
            margin-right: 40px;

            label {
                margin-bottom: 3px;
                color: var(--blackColor);

                font: {
                    size: var(--fontSize);
                    weight: 600;
                };
            }

            .form-control {
                padding: 0;
                height: auto;
                border: none;
                background-color: var(--whiteColor);
                text-align: end;
            }

            img {
                right: 0;
                top: 18px;
                position: absolute;
            }

            .src-btn {
                display: flex;
                padding: 0;
                width: 80px;
                height: 80px;
                border: none;
                font-size: 30px;
                position: relative;
                text-align: center;
                border-radius: 50px;
                color: var(--whiteColor);
                transition: var(--transition);
                background-color: var(--primaryColor);

                i {
                    right: 0;
                    left: 0;
                    top: 50%;
                    position: absolute;
                    transform: translateY(-50%);
                    /*
                    right: 0;
                    left: 50%;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    */
                }

                &:hover {
                    background-color: var(--secondaryColor);
                }
            }

            &::before {
                top: 0;
                bottom: 0;
                width: 1px;
                right: -20px;
                content: '';
                position: absolute;
                background-color: #eeeeee;
            }

            dp-date-picker {
                display: block;
            }

			.dp-picker-input {
                width: 100%;
                height: auto;
                border: none;
                direction: rtl;
                display: block;
                border-radius: 0;
                color: var(--blackColor);
                font-size: var(--fontSize);
                box-shadow: unset !important;
                transition: var(--transition);
                background-color: var(--whiteColor);

                padding: {
                    right: 0;
                    left: 0;
                };

                &::placeholder {
                    color: #666666;
                    transition: var(--transition);
                }

                &:focus {
                    border-color: var(--primaryColor);

                    &::placeholder {
                        color: transparent;
                    }
                }
			}
        }

        .col-xl-3 {
            &:nth-child(1) {
                .form-group {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        .col-lg-1 {
            .form-group {
                &::before {
                    display: none;
                }
            }
        }
	}
}

.pagination-area {
    margin-top: 10px;

    .page-numbers {
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: #898c90;
        margin-left: 8px;
        line-height: 48px;
        text-align: center;
        display: inline-block;
        border: 1px solid #eeeeee;

        i {
            top: 2px;
            line-height: 1;
            position: relative;
        }

        &:hover {
            color: var(--whiteColor);
            border-color: var(--primaryColor);
            background-color: var(--primaryColor);
        }

        &.current{
            color: var(--whiteColor);
            border-color: var(--primaryColor);
            background-color: var(--primaryColor);
        }
    }
}


/* Max width 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .ptb-100{
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }

    .form-control {
        height: 50px;
        font-size: 14px;
        padding: {
            right: 12px;
            left: 12px;
        };
    }

    .page-title-content {
        h2 {
            font-size: 28px;
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
        }

        .banner-form-style {
            border-radius: 5px;
            padding: 15px 0 0;
            margin-top: 30px;

            .form-group {
                border-bottom: 1px solid #eeeeee;
                padding-bottom: 12px;
                margin-bottom: 12px;
                margin-left: 0;
                margin-right: 0;
                padding: {
                    left: 15px;
                    right: 44px;
                };

                label {
                    font-size: 14px;
                }

                img {
                    right: 15px;
                }

                .src-btn {
                    width: 100%;
                    height: auto;
                    display: block;
                    font-size: 20px;
                    border-radius: 0;
                    padding: 8px 10px;

                    i {
                        transform: translateY(0);
                        position: relative;
                        top: 0;
                    }
                }

                &::before {
                    display: none;
                }
            }

            .col-lg-1 {
                .form-group {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }

    // Pagination
    .pagination-area {
        .page-numbers {
            width: 40px;
            height: 40px;
            font-size: 18px;
            line-height: 36px;
            
            i {
                top: 3px;
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 41.66666667%;
        margin-left: 15px;
    }

    .col-sm-5 {
        margin-left: 15px;
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }

    .ptb-100 {
        padding: {
            top: 80px;
            bottom: 80px;
        };
    }

    .form-control {
        height: 55px;
        font-size: 15px;

        padding: {
            right: 15px;
            left: 15px;
        };
    }

    .page-title-content {
        h2 {
            font-size: 37px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }

        .banner-form-style {
            border-radius: 5px;
            padding: 20px 0 0;
            margin-top: 25px;

            .row {
                margin: {
                    right: 0;
                    left: 0;
                };
            }

            .form-group{
                border-bottom: 1px solid #eeeeee;
                padding-bottom: 15px;
                margin-bottom: 15px;
                margin-left: 0;
                margin-right: 0;

                padding: {
                    left: 20px;
                    right: 52px;
                };

                label {
                    font-size: 14px;
                }

                img {
                    right: 20px;
                }

                .src-btn {
                    width: 100%;
                    height: auto;
                    display: block;
                    font-size: 20px;
                    border-radius: 0;
                    padding: 8px 10px;

                    i {
                        transform: translateY(0);
                        position: relative;
                        top: 0;
                    }
                }

                &::before {
                    display: none;
                }
            }

            .col-lg-1 {
                .form-group {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }

            .col-lg-3, .col-lg-2, .col-lg-1 {
                padding: {
                    right: 0;
                    left: 0;
                };
            }

            .col-md-6 {
                margin-left: -65px;
            }
        }
    }

    // Pagination
    .pagination-area {
        margin-top: 10px;

        .page-numbers {
            width: 45px;
            height: 45px;
            font-size: 18px;
            line-height: 40px;
            
            i {
                top: 3px;
            }
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    // Page Title Area
    .page-title-content {
        h2 {
            font-size: 48px;
        }

        .banner-form-style {
            border-radius: 30px;
            padding-right: 20px;

            .form-group {
                .src-btn {
                    font-size: 25px;
                    margin-bottom: 50px;
                }
            }
        }
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 45%;
        margin-top: 20px;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 44.66666667%;
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1400px */
@media only screen and (min-width: 1400px) {}